## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
df_dropped = application_df.drop(columns=["EIN", "NAME", "USE_CASE"])
df_dropped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,N,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
display(df_dropped.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
df_dropped["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

cutoff = 528
application_types_to_replace = df_dropped["APPLICATION_TYPE"].value_counts()[df_dropped["APPLICATION_TYPE"].value_counts() < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
classification_counts = df_dropped["CLASSIFICATION"].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classifications_to_replace = classification_counts[classification_counts > 1]
print(classifications_to_replace)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

cutoff = 1883
classifications_to_replace = df_dropped["CLASSIFICATION"].value_counts()[df_dropped["CLASSIFICATION"].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
categorical_columns = df_dropped.select_dtypes(include=['object', 'category']).columns
df_encoded = pd.get_dummies(df_dropped, columns=categorical_columns, drop_first=True)
df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = df_encoded.drop(columns=["IS_SUCCESSFUL"])  # Features
y = df_encoded["IS_SUCCESSFUL"]                 # Target


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:


# Redefine the model with more neurons in the hidden layers
nn = tf.keras.models.Sequential()

# Input and first hidden layer with more neurons
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_shape=(X_train_scaled.shape[1],)))

# Second hidden layer with more neurons
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Third hidden layer with more neurons
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the model summary to see the updated structure
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 128)                           13,568

 dense_1 (Dense)                       (None, 64)                             8,256

 dense_2 (Dense)                       (None, 32)                             2,080

 dense_3 (Dense)                       (None, 1)                                 33

 Total params: 23,937 (93.50 KB)

 Trainable params: 23,937 (93.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [15]:

from tensorflow.keras.callbacks import ReduceLROnPlateau

# Use a learning rate scheduler
lr_scheduler = ReduceLROnPlateau(monitor='val_loss', factor=0.5, patience=5, min_lr=1e-6)

# Train the model
#  YOUR CODE GOES HERE
history = nn.fit(
    X_train_scaled,          # Training features
    y_train,                 # Training target
    epochs=50,               # Number of epochs (adjust as needed)
    batch_size=32,           # Batch size (adjust as needed)
    validation_data=(X_test_scaled, y_test),  # Validation data to evaluate model performance
    verbose=1                 # Display training progress (1 for progress bar, 0 for silent)
)

Epoch 1/50
858/858  3s 2ms/step - accuracy: 0.7009 - loss: 0.5974 - val_accuracy: 0.7159 - val_loss: 0.5650
Epoch 2/50
858/858  2s 2ms/step - accuracy: 0.7272 - loss: 0.5570 - val_accuracy: 0.7232 - val_loss: 0.5623
Epoch 3/50
858/858  2s 2ms/step - accuracy: 0.7282 - loss: 0.5559 - val_accuracy: 0.7276 - val_loss: 0.5590
Epoch 4/50
858/858  4s 4ms/step - accuracy: 0.7360 - loss: 0.5453 - val_accuracy: 0.7235 - val_loss: 0.5563
Epoch 5/50
858/858  2s 2ms/step - accuracy: 0.7322 - loss: 0.5474 - val_accuracy: 0.7273 - val_loss: 0.5620
Epoch 6/50
858/858  3s 2ms/step - accuracy: 0.7321 - loss: 0.5528 - val_accuracy: 0.7261 - val_loss: 0.5638
Epoch 7/50
858/858  2s 2ms/step - accuracy: 0.7361 - loss: 0.5417 - val_accuracy: 0.7255 - val_loss: 0.5598
Epoch 8/50
858/858  2s 2ms/step - accuracy: 0.7357 - loss: 0.5457 - val_accuracy: 0.7262 - val_loss: 0.5577
Epoch 9/50
858/858  4s 3ms/step - accuracy: 0.7346 - loss: 0.5458 - val_accuracy: 0.7271 - val_loss: 0.5604
Epoch 10/50
858/858  3s 3ms/step - accuracy: 0.7357 - loss: 0.5471 - val_accuracy: 0.7271 - val_loss: 0.5568
Epoch 11/50
858/858  2s 2ms/step - accuracy: 0.7318 - loss: 0.5442 - val_accuracy: 0.7277 - val_loss: 0.5584
Epoch 12/50
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5387 - val_accuracy: 0.7313 - val_loss: 0.5571
Epoch 13/50
858/858  2s 2ms/step - accuracy: 0.7326 - loss: 0.5474 - val_accuracy: 0.7292 - val_loss: 0.5606
Epoch 14/50
858/858  2s 2ms/step - accuracy: 0.7422 - loss: 0.5399 - val_accuracy: 0.7281 - val_loss: 0.5572
Epoch 15/50
858/858  3s 3ms/step - accuracy: 0.7394 - loss: 0.5407 - val_accuracy: 0.7258 - val_loss: 0.5581
Epoch 16/50
858/858  4s 2ms/step - accuracy: 0.7337 - loss: 0.5484 - val_accuracy: 0.7297 - val_loss: 0.5595
Epoch 17/50
858/858  2s 2ms/step - accuracy: 0.7330 - loss: 0.5443 - val_accuracy: 0.7293 - val_loss: 0.5564
Epoch 18/50
858/858  3s 2ms/step - accuracy: 0.7349 - loss: 0.5425 - val_accuracy: 0.7258 - val_loss: 0.5564
Epoch 19/50
858/858  3s 3ms/step - accuracy: 0.7370 - loss: 0.5403 - val_accuracy: 0.7276 - val_loss: 0.5577
Epoch 20/50
858/858  2s 3ms/step - accuracy: 0.7353 - loss: 0.5415 - val_accuracy: 0.7292 - val_loss: 0.5566
Epoch 21/50
858/858  2s 2ms/step - accuracy: 0.7371 - loss: 0.5397 - val_accuracy: 0.7290 - val_loss: 0.5612
Epoch 22/50
858/858  3s 2ms/step - accuracy: 0.7368 - loss: 0.5397 - val_accuracy: 0.7236 - val_loss: 0.5600
Epoch 23/50
858/858  2s 2ms/step - accuracy: 0.7402 - loss: 0.5381 - val_accuracy: 0.7299 - val_loss: 0.5584
Epoch 24/50
858/858  2s 2ms/step - accuracy: 0.7343 - loss: 0.5397 - val_accuracy: 0.7290 - val_loss: 0.5590
Epoch 25/50
858/858  4s 3ms/step - accuracy: 0.7381 - loss: 0.5415 - val_accuracy: 0.7289 - val_loss: 0.5593
Epoch 26/50
858/858  2s 2ms/step - accuracy: 0.7409 - loss: 0.5368 - val_accuracy: 0.7297 - val_loss: 0.5578
Epoch 27/50
858/858  2s 2ms/step - accuracy: 0.7413 - loss: 0.5360 - val_accuracy: 0.7271 - val_loss: 0.5605
Epoch 28/50
858/858  3s 2ms/step - accuracy: 0.7386 - loss: 0.5357 - val_accuracy: 0.7283 - val_loss: 0.5605
Epoch 29/50
858/858  2s 2ms/step - accuracy: 0.7355 - loss: 0.5402 - val_accuracy: 0.7294 - val_loss: 0.5643
Epoch 30/50
858/858  2s 2ms/step - accuracy: 0.7387 - loss: 0.5389 - val_accuracy: 0.7300 - val_loss: 0.5585
Epoch 31/50
858/858  3s 3ms/step - accuracy: 0.7391 - loss: 0.5359 - val_accuracy: 0.7274 - val_loss: 0.5611
Epoch 32/50
858/858  4s 2ms/step - accuracy: 0.7404 - loss: 0.5386 - val_accuracy: 0.7284 - val_loss: 0.5610
Epoch 33/50
858/858  2s 2ms/step - accuracy: 0.7359 - loss: 0.5415 - val_accuracy: 0.7297 - val_loss: 0.5628
Epoch 34/50
858/858  3s 2ms/step - accuracy: 0.7382 - loss: 0.5384 - val_accuracy: 0.7294 - val_loss: 0.5610
Epoch 35/50
858/858  3s 3ms/step - accuracy: 0.7350 - loss: 0.5445 - val_accuracy: 0.7289 - val_loss: 0.5628
Epoch 36/50
858/858  3s 3ms/step - accuracy: 0.7413 - loss: 0.5339 - val_accuracy: 0.7318 - val_loss: 0.5597
Epoch 37/50
858/858  2s 3ms/step - accuracy: 0.7397 - loss: 0.5345 - val_accuracy: 0.7277 - val_loss: 0.5606
Epoch 38/50
858/858  2s 2ms/step - accuracy: 0.7369 - loss: 0.5382 - val_accuracy: 0.7281 - val_loss: 0.5619
Epoch 39/50
858/858  2s 2ms/step - accuracy: 0.7356 - loss: 0.5389 - val_accuracy: 0.7287 - val_loss: 0.5650
Epoch 40/50
858/858  3s 2ms/step - accuracy: 0.7426 - loss: 0.5315 - val_accuracy: 0.7281 - val_loss: 0.5616
Epoch 41/50
858/858  3s 3ms/step - accuracy: 0.7394 - loss: 0.5392 - val_accuracy: 0.7292 - val_loss: 0.5601
Epoch 42/50
858/858  2s 3ms/step - accuracy: 0.7392 - loss: 0.5331 - val_accuracy: 0.7296 - val_loss: 0.5639
Epoch 43/50
858/858  2s 2ms/step - accuracy: 0.7379 - loss: 0.5374 - val_accuracy: 0.7289 - val_loss: 0.5619
Epoch 44/50
858/858  2s 2ms/step - accuracy: 0.7366 - loss: 0.5358 - val_accuracy: 0.7290 - val_loss: 0.5635
Epoch 45/50
858/858  2s 2ms/step - accuracy: 0.7391 - loss: 0.5327 - val_accuracy: 0.7309 - val_loss: 0.5616
Epoch 46/50
858/858  2s 2ms/step - accuracy: 0.7368 - loss: 0.5392 - val_accuracy: 0.7294 - val_loss: 0.5640
Epoch 47/50
858/858  3s 3ms/step - accuracy: 0.7386 - loss: 0.5355 - val_accuracy: 0.7296 - val_loss: 0.5625
Epoch 48/50
858/858  3s 3ms/step - accuracy: 0.7383 - loss: 0.5365 - val_accuracy: 0.7251 - val_loss: 0.5649
Epoch 49/50
858/858  2s 2ms/step - accuracy: 0.7363 - loss: 0.5399 - val_accuracy: 0.7254 - val_loss: 0.5656
Epoch 50/50
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5384 - val_accuracy: 0.7296 - val_loss: 0.5632

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7296 - loss: 0.5632
Loss: 0.5632438659667969, Accuracy: 0.7295918464660645

In [18]:
# Export our model to HDF5 file
model_filename = 'AlphabetSoupCharity_Optimization.h5'
nn.save(model_filename)

print(f"Model saved to {model_filename}")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to AlphabetSoupCharity_Optimization.h5